@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdfbf7;
  font-family: 'Assistant', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f7f3e8; 
}
::-webkit-scrollbar-thumb {
  background: #d09b58; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c38043; 
}

@layer components {
  .btn-primary {
    @apply bg-wool-600 text-white font-bold py-3 px-6 rounded-xl shadow-lg hover:bg-wool-700 hover:shadow-xl transition-all active:scale-95 flex items-center justify-center gap-2;
  }
  
  .card-base {
    @apply bg-white rounded-3xl shadow-md border border-wool-100 transition-all duration-300;
  }
}